body {
	background-color: #b5b2b2;
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
	margin-top: 50px;
}

input[type=text] {
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid #4f4caf;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	width: 80%;
}

button {
	padding: 10px;
	border: none;
	background-color: #4f4caf;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}

p {
	text-align: center;
	font-size: 24px;
	margin-top: 20px;
}